.dashboard-container {
    margin: 40px;
  }
  
  .text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dashboard-table {
    margin-left: auto;
    margin-right: auto;
    width: 90%; /* Adjust the width as needed */
  }
  
  .action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  
  .action-btn i {
    color: white;
  }
  
  .action-btn.btn-success {
    background-color: green;
    border-color: green;
  }
  
  .action-btn.btn-success i {
    color: white;
  }
  
  .action-btn.btn-danger i {
    color: white;
  }
  .usernamedelete{
    font-size: large;
    font-weight: bold;
  }
  .vehicle-image {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
    /* border-radius:100%;  */
  }


  
  